<nav id='nav-bar'>
	<ul>
		<li>Home</li>
		<li>About</li>
		<li>Contact</li>
	</ul>
</nav>

<style>
	#nav-bar {
		background-color: #ffffff75;
		display: inline-flex;
	}
	ul {
		display: inline-flex;
	}
</style>
